<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <img width="300" alt="Angular Logo" style="margin-top: 5%;"
    src="https://media-exp1.licdn.com/dms/image/C4D0BAQFnCk_qwgz3fA/company-logo_200_200/0?e=2159024400&v=beta&t=CYYHy0iavKvUQwiMPCyT3Dna6FMl3Ygq05FAgrrCTTo">

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

 <a href="https://botsrv.com/qb/p6yDjmQZZ9r32lqX/9nJaZmpXPwmpvxPR?mode=preview" style=" position: fixed;
 top: 50%;
 left: 50%;
 margin-top: -50px;
 margin-left: -100px;"><img src="../assets/softia.jfif"></a>
</div>
<script type="text/javascript" src="https://botsrv.com/qb/widget/p6yDjmQZZ9r32lqX/9nJaZmpXPwmpvxPR" async
  defer></script>
<router-outlet></router-outlet>